<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div>
        <p th:text="'Welcome to TWAirline'"/>
        <Form action="#" th:action="@{/search}" th:object="${searchDetails}" method="post">
            <select id="from" name="from" required="required">
                <option value="" disabled="disabled" selected="selected">From</option>
                <option th:each="location :${locations}" th:value="${location}" th:text="${location}"></option>
            </select>
            <select id="to" name="to" required="required">
                <option value="" disabled="disabled" selected="selected">To</option>
                <option th:each="location :${locations}" th:value="${location}" th:text="${location}"></option>
            </select>
            <input id="departureDate" name="departureDate" type="date"/>
            <select id="classType" name="classType" required="required">
                <option value="" disabled="disabled" selected="selected">ClassType</option>
                <option value="Economy">Economy</option>
                <option value="Business">Business</option>
                <option value="First">First</option>
            </select>
            <input id="numberOfPassenger" name="numberOfPassengers" type="number" value="1"/>
            <input type="submit" value="Find Flights"/>
        </Form>
        <br/><br/>
        <table border="1">
            <th>number</th>
            <th>From</th>
            <th>To</th>
            <tr th:each="flight:${flights}">
                <td th:text="${flight.number}"></td>
                <td th:text="${flight.source}"></td>
                <td th:text="${flight.destination}"></td>
            </tr>
        </table>
    </div>
</body>
</html>